// ------- ALL -------- 

body {
    background-color: $primary-blue;
    font-family: "Roboto", sans-serif;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

