// ------- ALL -------- 

body {
    background-color: rgb(255, 255, 255);
    font-family: "Open-Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: $primary-blue;
}

img {
    max-width: 250px;
    height: auto;
    display: block;
    border-radius: 10px;
}

// ---- MAIN  PAGE

header {
    background-color: $primary-blue;
    width: 100%;
    position: fixed;
    top: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: white;
        text-transform: uppercase;
    }
    .cart-container {
        position: fixed;
        top: 3rem;
        right: 10px;
        margin: 10px;
        background-color: rgb(255, 255, 255);
        height: 45px;
        width: 45px;
        border: solid $primary-blue 3px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .cart-icon {
            color: $primary-blue;
            font-size: 2rem;
        }
        .cart-amount-container {
            position: fixed;
            right: 10px;
            top: 5.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            border-radius: 100%;
            border: solid $primary-blue 3px;
            height: 30px;
            width: 30px;
            text-align: center;
            .cart-amount {
                color: $primary-blue;
                font-size: 1.2rem;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    margin-top: 7.5rem;
}

.sorting-container {
    background-color: rgba(0, 0, 0, 0.13);
    padding: 10px;
    border-radius: 10px;
    width: 90vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        margin: 4px 0 4px 0;
        display: flex;
        .sorting-btn {
            height: 30px;
            width: 80px;
            margin: 0 10px 0 10px;
        }
        label {
            margin: 0 10px 0 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.product {
    background-color: rgba(0, 0, 0, 0.053);
    border: $primary-blue solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    color: $primary-blue;
    transition: background-color .5s;
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    div, input:hover {
        cursor: default;
    }
    .amount-btn {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 10px;
        margin: 0 2px 0 2px;
        color: $primary-blue
    }
    .amount-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 42px;
        border: $primary-blue solid 3px;
        border-radius: 13px;
        font-size: 20px;
        color: $primary-blue;
    }
}

.product:hover, .product:active {
    background-color: rgba(255, 255, 255, 0.127);
}

.cart-section {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin-bottom: 10px;
    .cart-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat (1, 1fr);
        .cart-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-bottom: solid rgba(0, 0, 0, 0.138) 2px;
            margin-bottom: 1rem;
            .cart-row-item {
                display: flex;
                justify-content: center;
                padding: 4px;
            }
        }
    }
}

.span-last {
    grid-column: 3 / 4;
}

.span-full {
    grid-column: span 3;
}


.checkout-section {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
}

form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    label {
        width: 100%;
        grid-column: span 4;
        display: flex;
        justify-content: space-between;
    }
    .long-input {
        width: 165px;
    }
    .payment-method {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        grid-column: span 4;
        background-color: rgba(0, 0, 0, 0.159);
        padding: 10px 20px 10px 20px ;
        border-radius: 10px;
        .selector {
            grid-column: 2 / 4;
            display: flex;
            label {
                display: flex;
                gap: 5px;
                justify-content: center;
            }
        }
        .option {
            grid-column: span 4;
        }
        .small-input {
            width: 50px;
        }
    }
    .reset {
        grid-column: span 4;
        width: 100px;
        margin: auto;
    }
    .submit {
        margin: auto;
        grid-column: span 4;
        width: 200px;
        height: 50px;
    }
}

.payment-input {
    margin: 10px 0 10px 0;
}

.confirmation {
    background-color: rgba(255, 255, 255, 0.804);
    padding: 10px;
    border-radius: 10px;
}

footer {
    background-color: $primary-blue;
    margin-top: 1rem;
    height: 5rem;
    width: 100%;
}

// TEST & DEBUG

.test {
    background-color: red;
    color: yellow;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}