// --------------- COLORS ---------------

$blue: #d14018;
$cream: #e0b589;
$white: #fcf9f0;
$grey: #d4d4d4;
$black: #151515;
$trans-grey: rgba(0, 0, 0, 0.05);
$pinkish: rgb(251, 226, 196);

// --------------- MORE VARIABLES ---------------